.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.main-text {
  font-size: 1.75em;
  line-height: 4em;
}

.booyah-box {
  -moz-box-shadow: 1px 1px 2px 0 #d0d0d0;
  -webkit-box-shadow: 1px 1px 2px 0 #d0d0d0;
  box-shadow: 1px 1px 2px 0 #d0d0d0;
  background: #fff;
  border: 1px solid #ccc;
  border-color: #e4e4e4 #bebebd #bebebd #e4e4e4;
  padding: 10px;
  margin-top: 60px;
  margin-bottom: 30px;
}
.booyah-box h1, .booyah-box h2 {
  margin: 10px;
}

body {
  background-color: #FAFAD2;
}

.my-form {
   -webkit-transition:all linear 0.5s;
   -moz-transition:all linear 0.5s;
   -o-transition:all linear 0.5s;
   transition:all linear 0.5s;
   background: transparent;
 }

.ng-valid-required {
  border-color: green;
}

.ng-invalid-required {
  border-color: red;
}

.ng-invalid-number {
  border-color: red;
}

.show-text.ng-leave, .show-input.ng-leave {
   -webkit-animation: 1s one-to-zero-text;
   -moz-animation: 1s one-to-zero-text;
   animation: 1s one-to-zero-text;
}
 
@keyframes one-to-zero-text {
	from { opacity: 0; }
	to { opacity: 1; }
}
 
@-webkit-keyframes one-to-zero-text {
	from { opacity: 0; }
	to { opacity: 1; }
}

@-moz-keyframes one-to-zero-text {
	from { opacity: 0; }
	to { opacity: 1; }
}

.show-text.ng-enter, .show-input.ng-enter{
   -webkit-animation: 1s zero-to-one-text 1s;
   -moz-animation: 1s zero-to-one-text 1s;
   animation: 1s zero-to-one-text 1s;
}
 
@keyframes zero-to-one-text {
	from { opacity: 0; }
	to { opacity: 1; }
}
 
@-webkit-keyframes zero-to-one-text {
	from { opacity: 0; }
	to { opacity: 1; }
}

@-moz-keyframes zero-to-one-text {
	from { opacity: 0; }
	to { opacity: 1; }
}