.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.main-text {
  font-size: 1.75em;
  line-height: 4em;
}

.booyah-box {
  -moz-box-shadow: 1px 1px 2px 0 #d0d0d0;
  -webkit-box-shadow: 1px 1px 2px 0 #d0d0d0;
  box-shadow: 1px 1px 2px 0 #d0d0d0;
  background: #fff;
  border: 1px solid #ccc;
  border-color: #e4e4e4 #bebebd #bebebd #e4e4e4;
  padding: 10px;
  margin-top: 60px;
  margin-bottom: 30px;
}
.booyah-box h1, .booyah-box h2 {
  margin: 10px;
}

body {
  background-color: #FAFAD2;
}